<div id="authScreen">
  <div id="login">
    <h2>TAKOYA-CAR</h2>
    <br/>

    <form #f="ngForm" (ngSubmit)="onSignIn()">
      <hr/>
      <img src="../../assets/user.png" class="icon">
      <input type="text" name="username" class="form-control" aria-label="Username" ngModel />
      <hr/>
      <img src="../../assets/lock.png" class="icon">
      <input type="password" name="password" class="form-control" aria-label="Password" ngModel />
      <hr/>
    </form>

    <br/>

    <div class="text-center">
      <button class="btn btn-outline-success" *ngIf="!authStatus" (click)="onSignIn()">Se connecter</button>
    </div>
  </div>

</div>
