<div id="authScreen">
  <div id="login">
    <h2>TAKOYA-CAR</h2>
    <br/>

    <form #f="ngForm" (ngSubmit)="onSignIn()">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr class="d-flex">
              <td><img src="assets/user.png" class="icon"></td>
              <td class="w-100 px-0"><input type="text" name="username" class="form-control w-100" aria-label="Username" ngModel /></td>
            </tr>
            <tr class="d-flex">
              <td><img src="assets/lock.png" class="icon"></td>
              <td class="w-100 px-0"><input type="password" name="password" class="form-control w-100" aria-label="Password" ngModel /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>

    <div class="text-center">
      <button class="btn btn-outline-success" *ngIf="!authStatus" (click)="onSignIn()">Se connecter</button>
    </div>

    <p class="alert-danger text-center mt-4">{{errorMsg}}</p>

  </div>

</div>
