#authScreen {
  height: 650px;
  width: 100%;
  background-image: url("../../assets/Ferrari-599_59.jpg");
  background-size: 100% 100%;
}

#login {
  width: 40%;
  background-color: rgba(255,255,255,0.2);
  margin: auto;
  padding: 50px;
}

#login h2 {
  color: white;
  text-shadow: 2px 4px 4px red;
  text-align: center;
}

#login hr {
  width: 65%;
  margin: auto;
}

#login input {
  padding: 0;
  border: 0;
  width: 65%;
  margin: auto;
  box-shadow: none;
  background-color: transparent;
}

.icon {
  float: left;
  width: 30px;
  height: 30px;
}
