<h2>Cars &copy;</h2>
<blockquote>
	<div class="row">
		<div class="col-sm-3 text-center">
			<img class="img-circle"
				src="https://target.scene7.com/is/image/Target/06_CatBrowse_328x32885668-170526_1495833358137?wid=328&hei=328&qlt=80&fmt=pjpeg"
				style="width: 100px; height: 100px;">
		</div>
		<div class="col-sm-9">
			<p>Ah mais au fait, je ne vous ai pas encore présenté. Majesté,
				McQueen. McQueen, Majesté. McQueen, McMissile. McMissile, McQueen.
				Majesté, McMissile.</p>
			<small>Martin</small>
		</div>
	</div>
</blockquote>
